<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W-02</title>
    <link rel="stylesheet" href="../output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-black">
    <!-- Start header -->
    <header class="fixed h-16 top-0 left-0 right-0 flex items-center p-4 bg-[#121212]">
        <div class="container relative flex items-center justify-between mx-auto">
            <div class="text-3xl font-bold text-white">Uni Stream</div>
            <div>
                <!-- Start đã loggin -->
                <div class="flex items-center gap-5">
                    <h1 class="text-xl text-white">Xin chào Hiếu!!!</h1>
                    <div>
                        <input type="checkbox" id="notification" class="hidden peer/noti">
                        <label for="notification" class="text-2xl text-white cursor-pointer hover:opacity-75">
                            <i class="fa-solid fa-bell"></i>
                        </label>
                        <div
                            class="z-10 absolute rounded-xl outline outline-2 outline-[#383838] top-16 right-16 text-white bg-[#121212] hidden peer-checked/noti:block px-4 py-2 w-[400px]">
                            <div class="flex justify-end">
                                <label for="notification"
                                    class="p-2 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <ul
                                class="py-2 max-h-[500px] overflow-y-scroll scrollbar-none flex flex-col gap-2 rounded-xl">
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                            </ul>
                            <svg class="w-full my-2 animate-spin" width="30" height="30" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                    fill="white" opacity=".25" />
                                <path fill="white"
                                    d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                                    class="spinner_ajPY" />
                            </svg>
                        </div>
                    </div>
                    <div>
                        <label for="menu">
                            <img class="w-10 rounded-full cursor-pointer hover:opacity-75"
                                src="../assets/W-02/avatar.jpg" alt="avatar">
                        </label>
                        <input type="checkbox" id="menu" class="hidden peer/menu">
                        <div
                            class="z-10 absolute rounded-xl outline outline-2 outline-[#383838] top-16 right-0 text-white bg-[#121212] hidden peer-checked/menu:block px-4 py-2">
                            <div class="flex justify-end">
                                <label for="menu" class="p-2 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <ul class="flex flex-col gap-4 py-2 ml-2 mr-8 text-lg">
                                <li>
                                    <input type="checkbox" id="modal_live" class="hidden peer/modal_live">
                                    <label class="cursor-pointer hover:opacity-75" for="modal_live">Đăng ký phiên
                                        live</label>
                                    <!-- Start modal đăng kí phiên live -->
                                    <div
                                        class="fixed inset-0 z-20 items-center justify-center hidden mx-auto text-white bg-black/30 backdrop-blur-sm peer-checked/modal_live:flex">
                                        <div
                                            class="bg-[#121212] w-[800px] h-[450px] rounded-xl outline outline-2 outline-[#383838]">
                                            <div class="flex justify-end bg-black">
                                                <label for="modal_live"
                                                    class="p-4 text-xl text-white cursor-pointer hover:opacity-75">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </label>
                                            </div>
                                            <h1 class="px-5 py-4 text-2xl font-medium">Đăng ký phiên
                                                live
                                            </h1>
                                            <div class="grid grid-cols-2 gap-5 px-5 py-3">
                                                <div class="flex flex-col gap-4">
                                                    <div
                                                        class="flex items-center justify-center w-full overflow-hidden bg-black rounded-xl aspect-video">
                                                        <img src="../assets/W-01/login2.jpg" alt="thumbnail">
                                                    </div>
                                                    <label for="live_thumbnail"
                                                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 w-32 text-center cursor-pointer transition-all duration-200 text-lg">Chọn
                                                        ảnh</label>
                                                    <input type="file" id="live_thumbnail" class="hidden">
                                                </div>
                                                <div class="flex flex-col gap-4">
                                                    <div class="flex flex-col gap-2">
                                                        <label for="modal_live_title"
                                                            class="text-xl font-medium text-white">Tiêu đề</label>
                                                        <input
                                                            class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-white"
                                                            type="text" id="modal_live_title"
                                                            placeholder="Nhập tiêu đề...">
                                                    </div>
                                                    <div class="flex flex-col gap-2">
                                                        <label for="modal_live_date"
                                                            class="text-lg font-medium text-white">Chọn thời
                                                            gian</label>
                                                        <input
                                                            class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-transparent"
                                                            type="datetime-local" id="modal_live_date">
                                                    </div>
                                                    <div class="flex justify-end w-full gap-4">
                                                        <button
                                                            class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Hủy</button>
                                                        <button
                                                            class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Xác
                                                            nhận</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End model đăng kí phiên live -->
                                </li>
                                <li class="cursor-pointer hover:opacity-75">Cập nhật thông tin</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End đã loggin -->

                <!-- Start chưa loggin -->
                <!-- <button
                    class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 transition-all duration-200">Đăng
                    nhập</button> -->
                <!-- End chưa loggin -->
            </div>
        </div>
    </header>
    <!-- End header -->
</body>

</html>