<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../output.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- Start header -->
    <header
        class="z-50 fixed h-16 top-0 left-0 right-0 flex items-center p-4 bg-[#121212] scrollbar-thumb-[#3e3e3e] scrollbar-track-transparent">
        <div class="container relative flex items-center justify-between mx-auto">
            <div class="text-3xl font-bold text-white">Uni Stream</div>
            <div>
                <!-- Start đã loggin -->
                <div class="flex items-center gap-5">
                    <h1 class="text-xl text-white">Xin chào Hiếu!!!</h1>
                    <div>
                        <input type="checkbox" id="notification" class="hidden peer/noti">
                        <label for="notification" class="text-2xl text-white cursor-pointer hover:opacity-75">
                            <i class="fa-solid fa-bell"></i>
                        </label>
                        <div
                            class="z-10 absolute rounded-xl outline outline-2 outline-[#383838] top-16 right-16 text-white bg-[#121212] hidden peer-checked/noti:block pl-4 pr-2 py-2 w-[400px]">
                            <div class="flex justify-end">
                                <label for="notification"
                                    class="p-2 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <ul
                                class="py-2 pr-2 mr-2 max-h-[500px] overflow-y-scroll flex flex-col gap-2 rounded-xl scrollbar">
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                                <li
                                    class="flex gap-4 hover:bg-[#3e3e3e] duration-200 transition-all cursor-pointer rounded-xl py-4 px-3">
                                    <img class="w-12 rounded-full" src="../assets/W-02/avatar.jpg" alt="avatar">
                                    <div>
                                        <p class="font-medium">Hiếu Phạm đã theo dõi bạn</p>
                                        <p class="text-sm text-gray-300">1 giờ trước</p>
                                    </div>
                                </li>
                            </ul>
                            <svg class="w-full my-2 animate-spin" width="30" height="30" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"
                                    fill="white" opacity=".25" />
                                <path fill="white"
                                    d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
                                    class="spinner_ajPY" />
                            </svg>
                        </div>
                    </div>
                    <div>
                        <label for="menu">
                            <img class="w-10 rounded-full cursor-pointer hover:opacity-75"
                                src="../assets/W-02/avatar.jpg" alt="avatar">
                        </label>
                        <input type="checkbox" id="menu" class="hidden peer/menu">
                        <div
                            class="z-10 absolute rounded-xl outline outline-2 outline-[#383838] top-16 right-0 text-white bg-[#121212] hidden peer-checked/menu:block px-4 py-2">
                            <div class="flex justify-end">
                                <label for="menu" class="p-2 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <ul class="flex flex-col gap-4 py-2 ml-2 mr-8 text-lg">
                                <li>
                                    <input type="checkbox" id="modal_live" class="hidden peer/modal_live">
                                    <label class="cursor-pointer hover:opacity-75" for="modal_live">Đăng ký phiên
                                        live</label>
                                    <!-- Start modal đăng kí phiên live -->
                                    <div
                                        class="fixed inset-0 z-20 items-center justify-center hidden mx-auto text-white bg-black/30 backdrop-blur-sm peer-checked/modal_live:flex">
                                        <div
                                            class="bg-[#121212] w-[800px]  rounded-xl outline outline-2 outline-[#383838] overflow-hidden">
                                            <div class="flex justify-end bg-black">
                                                <label for="modal_live"
                                                    class="p-4 text-xl text-white cursor-pointer hover:opacity-75">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </label>
                                            </div>
                                            <h1 class="px-5 py-4 text-2xl font-bold">Đăng ký phiên live</h1>
                                            <div class="grid grid-cols-2 gap-5 px-5 py-3">
                                                <div class="flex flex-col gap-4">
                                                    <div
                                                        class="flex items-center justify-center w-full overflow-hidden bg-black rounded-xl aspect-video">
                                                        <img src="../assets/W-01/login2.jpg" alt="thumbnail">
                                                    </div>
                                                    <label for="live_thumbnail"
                                                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 w-32 text-center cursor-pointer transition-all duration-200 text-lg">Chọn
                                                        ảnh</label>
                                                    <input type="file" id="live_thumbnail" class="hidden">
                                                </div>
                                                <div class="flex flex-col gap-4">
                                                    <div class="flex flex-col gap-2">
                                                        <label for="modal_live_title"
                                                            class="text-xl font-medium text-white cursor-pointer">Tiêu
                                                            đề</label>
                                                        <input
                                                            class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-white"
                                                            type="text" id="modal_live_title"
                                                            placeholder="Điền tiêu đề...">
                                                    </div>
                                                    <div class="flex flex-col gap-2">
                                                        <label for="modal_live_date"
                                                            class="text-lg font-medium text-white cursor-pointer">Chọn
                                                            thời
                                                            gian</label>
                                                        <input
                                                            class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-transparent"
                                                            type="datetime-local" id="modal_live_date">
                                                    </div>
                                                    <div class="flex justify-end w-full gap-4">
                                                        <label for="modal_live"
                                                            class="px-5 py-2 text-lg font-semibold text-center text-white transition-all duration-200 bg-red-500 cursor-pointer rounded-xl hover:opacity-75 min-w-24">Hủy</label>
                                                        <label for="modal_live"
                                                            class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Xác
                                                            nhận</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="w-full px-5 py-4 text-xl font-medium text-center text-red-500">
                                                Vui lòng cập nhật lại token!</h1>
                                        </div>
                                    </div>
                                    <!-- End modal đăng kí phiên live -->
                                </li>
                                <li>
                                    <input type="checkbox" id="modal_info" class="hidden peer/modal_info">
                                    <label class="cursor-pointer hover:opacity-75" for="modal_info">Cập nhật thông
                                        tin</label>
                                    <!-- Start modal cập nhật thông tin -->
                                    <div
                                        class="fixed inset-0 z-20 items-center justify-center hidden mx-auto text-white bg-black/30 backdrop-blur-sm peer-checked/modal_info:flex">
                                        <div
                                            class="bg-[#121212] w-[600px]  rounded-xl outline outline-2 outline-[#383838] text-white overflow-hidden">
                                            <div class="flex justify-end bg-black">
                                                <label for="modal_info"
                                                    class="p-4 text-xl text-white cursor-pointer hover:opacity-75">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </label>
                                            </div>
                                            <div class="flex flex-col gap-6 px-6 py-5">
                                                <h1 class="w-full text-2xl font-bold text-center text-white">Cập nhật
                                                    thông tin</h1>
                                                <div class="flex flex-col gap-3">
                                                    <label for="modal_info_google_client_id"
                                                        class="text-lg font-medium text-white cursor-pointer">Nhập
                                                        GOOGLE_CLIENT_ID</label>
                                                    <textarea id="modal_info_google_client_id"
                                                        class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-white min-h-24 max-h-24 scrollbar-none resize-none"
                                                        placeholder="Điền thông tin..."></textarea>
                                                </div>
                                                <div class="flex flex-col gap-3">
                                                    <label for="modal_info_google_client_secret"
                                                        class="text-lg font-medium text-white cursor-pointer">Nhập
                                                        GOOGLE_CLIENT_ID</label>
                                                    <textarea id="modal_info_google_client_secret"
                                                        class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-white min-h-24 max-h-24 scrollbar-none resize-none"
                                                        placeholder="Điền thông tin..."></textarea>
                                                </div>
                                                <div class="flex justify-end w-full gap-4">
                                                    <label for="modal_info"
                                                        class="px-5 py-2 text-lg font-semibold text-center text-white transition-all duration-200 bg-red-500 cursor-pointer rounded-xl hover:opacity-75 min-w-24">Hủy</label>
                                                    <label for="modal_info"
                                                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Xác
                                                        nhận</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End modal cập nhật thông tin -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End đã loggin -->

                <!-- Start chưa loggin -->
                <!-- <button
                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 transition-all duration-200">Đăng
                        nhập</button> -->
                <!-- End chưa loggin -->
            </div>
        </div>
    </header>
    <!-- End header -->

    <!-- Start content -->
    <div class="flex h-screen">
        <!-- Start list streaming -->
        <div class="w-1/6 bg-[#272727] mt-16" id="list-stream">
            <p class="p-5 text-xl font-medium text-center text-white">Khám phá thêm</p>
            <ul id="list-stream-video"
                class="pl-3 pr-2 mr-1 flex flex-col gap-3 scrollbar-thumb-[#3e3e3e] scrollbar-track-transparent scrollbar overflow-y-scroll h-[90%]">
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
                <li class="flex flex-col cursor-pointer">
                    <img src="../assets/W-03/list-stream-thumbnail.png"
                        class="flex object-cover overflow-hidden transition-all duration-200 opacity-100 rounded-xl hover:opacity-60 aspect-video"
                        alt="">
                    <div class="flex mt-4 h-[15%] items-center">
                        <img src="../assets/W-02/avatar.jpg" class="rounded-full size-10" alt="">
                        <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                            <div class="flex items-center justify-between w-full text-base font-medium">
                                <p>feyd153</p>
                                <div class="flex items-center gap-1 space-x-1">
                                    <p class="text-sm">0:37:29</p>
                                    <div class="flex px-2 bg-red-500">
                                        <p>LIVE</p>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-1 text-sm">Vẽ cùng tuiii</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End list streaming -->

        <!-- Start streaming frame -->
        <div class="flex flex-col flex-grow mt-16 bg-black">
            <div class="flex flex-row justify-between flex-grow h-[10%] mx-6 items-center content-center">
                <div id="author-infor" class="flex gap-1">
                    <img src="../assets/W-02/avatar.jpg" class="rounded-full size-12" alt="">
                    <div class="flex flex-col justify-center flex-grow ml-2 text-white">
                        <div id="author-name" class="flex items-center justify-between w-full text-base font-medium">
                            <p>feyd153</p>
                        </div>
                        <p id="stream-caption" class="mt-1 text-sm">Vẽ cùng tuiii</p>
                    </div>
                    <!-- Start chưa follow -->
                    <button id="follow-btn" class="px-2 ml-2 text-white bg-red-700 rounded-md hover:bg-red-500">
                        <i class="fa-solid fa-plus"></i> Follow
                    </button>
                    <!-- End chưa follow -->

                    <!-- Start đã follow -->
                    <!-- <div class="content-center px-2 ml-2 text-2xl text-green-500">
                        <i class="fa-regular fa-circle-check"></i>
                    </div> -->
                    <!-- End chưa follow -->
                </div>

                <div id="stream-time" class="flex items-center content-center gap-2 text-xl text-white">
                    <i class="fa-regular fa-clock"></i> 1:32:54
                </div>

                <div class="flex gap-5 text-2xl text-white">
                    <!-- Start report component -->
                    <input type="checkbox" id="modal-report" class="hidden peer/modal-report">
                    <label for="modal-report">
                        <i class="fa-regular fa-flag hover:text-red-500 hover:cursor-pointer"></i>
                    </label>
                    <div
                        class="fixed inset-0 z-20 items-center justify-center hidden mx-auto text-white bg-black/30 backdrop-blur-sm peer-checked/modal-report:flex">
                        <div
                            class="bg-[#121212] w-[600px]  rounded-xl outline outline-2 outline-[#383838] text-white overflow-hidden">
                            <div class="flex justify-end bg-black">
                                <label for="modal-report"
                                    class="p-4 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <div class="flex flex-col gap-6 px-6 py-5">
                                <h1 class="w-full text-2xl font-bold text-center text-white">Báo cáo phiên live</h1>
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col gap-4">
                                        <label for="modal-report"
                                            class="text-xl font-medium text-white cursor-pointer">Mô tả vi phạm</label>
                                        <input
                                            class="px-5 py-4 bg-[#222222] rounded-xl transition-all duration-200 outline outline-2 outline-transparent focus:outline-white"
                                            type="text" id="modal-report"
                                            placeholder="Hành vi bạo lực, ngôn từ xúc phạm,...">
                                    </div>
                                </div>
                                <div class="flex justify-end w-full gap-4">
                                    <label for="modal-report"
                                        class="px-5 py-2 text-lg font-semibold text-center text-white transition-all duration-200 bg-red-500 cursor-pointer rounded-xl hover:opacity-75 min-w-24">Hủy</label>
                                    <label for="modal-report"
                                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Xác
                                        nhận</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End report component-->

                    <!-- Start get stream infor -->
                    <input type="checkbox" id="modal-stream-infor" class="hidden peer/modal-stream-infor">
                    <label for="modal-stream-infor">
                        <i class="fa-solid fa-circle-info hover:text-red-500 hover:cursor-pointer"></i>
                    </label>
                    <div
                        class="fixed inset-0 z-20 items-center justify-center hidden mx-auto text-white bg-black/30 backdrop-blur-sm peer-checked/modal-stream-infor:flex">
                        <div
                            class="bg-[#121212] w-[600px]  rounded-xl outline outline-2 outline-[#383838] text-white overflow-hidden">
                            <div class="flex justify-end bg-black">
                                <label for="modal-stream-infor"
                                    class="p-4 text-xl text-white cursor-pointer hover:opacity-75">
                                    <i class="fa-solid fa-xmark"></i>
                                </label>
                            </div>
                            <div class="flex flex-col gap-6 px-6 py-5">
                                <h1 class="w-full text-2xl font-bold text-center text-white">Thông tin phiên live</h1>
                                <!-- Start phiên live của tôi -->
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col gap-2">
                                        <label for="modal-stream-infor"
                                            class="ml-2 text-xl font-medium text-white">watch_url</label>
                                        <p class="px-5 py-4 bg-[#222222] rounded-xl text-gray-300" type="text"
                                            id="modal-stream-infor">watch_url</p>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="modal-stream-infor"
                                            class="ml-2 text-xl font-medium text-white">stream_url</label>
                                        <p class="px-5 py-4 bg-[#222222] rounded-xl text-gray-300" type="text"
                                            id="modal-stream-infor">stream_url</p>
                                    </div>
                                    <div class="flex flex-col gap-2">
                                        <label for="modal-stream-infor"
                                            class="ml-2 text-xl font-medium text-white">stream_key</label>
                                        <p class="px-5 py-4 bg-[#222222] rounded-xl text-gray-300" type="text"
                                            id="modal-stream-infor">stream_key</p>
                                    </div>
                                </div>
                                <!-- End phiên live của tôi -->

                                <!-- Start phiên live khác -->

                                <!-- End phiên live khác -->
                                <div class="flex justify-end w-full gap-4">
                                    <label for="modal-stream-infor"
                                        class="px-5 py-2 text-lg font-semibold text-center text-white transition-all duration-200 bg-red-500 cursor-pointer rounded-xl hover:opacity-75 min-w-24">Hủy</label>
                                    <label for="modal-stream-infor"
                                        class="text-white bg-[#222222] py-2 px-5 font-semibold rounded-xl hover:opacity-75 min-w-24 text-center cursor-pointer transition-all duration-200 text-lg">Xác
                                        nhận</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End get stream infor -->
                </div>
            </div>

            <iframe id="stream-frame" class="h-[90%] mb-5 mx-1 rounded-sm"
                src="https://www.youtube.com/watch?v=gxW-eskb1Eo"></iframe>
        </div>
        <!-- End streaming frame -->

        <!-- Start live chatroom -->
        <div id="live-chat-room" class="w-[20%] bg-[#272727] mt-16">
            <p class="p-5 text-xl font-medium text-center text-white">
                <i class="fa-brands fa-rocketchat"></i> Trò chuyện
            </p>
            <div id="list-comment"
                class="flex flex-col h-[80%] overflow-y-scroll scrollbar-thumb-[#3e3e3e] scrollbar-track-transparent scrollbar">
                <ul class="flex flex-col gap-3">
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">hay quá ae tin tôi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">Combo 2 chiếc quần short kaki giá chỉ 115k,nhanh tay
                            thì
                            còn chậm tay là hết cả nhà ơi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">hay quá ae tin tôi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">Combo 2 chiếc quần short kaki giá chỉ 115k,nhanh tay
                            thì
                            còn chậm tay là hết cả nhà ơi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">hay quá ae tin tôi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">Combo 2 chiếc quần short kaki giá chỉ 115k,nhanh tay
                            thì
                            còn chậm tay là hết cả nhà ơi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">hay quá ae tin tôi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">Combo 2 chiếc quần short kaki giá chỉ 115k,nhanh tay
                            thì
                            còn chậm tay là hết cả nhà ơi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">hay quá ae tin tôi</p>
                    </li>
                    <li class="flex flex-col mx-4">
                        <div class="flex flex-row content-center gap-2">
                            <img src="../assets/W-02/avatar.jpg" class="rounded-full size-6" alt="">
                            <p class="text-base font-medium text-gray-200">Nguyengoc</p>
                        </div>
                        <p class="ml-8 text-base text-white">Combo 2 chiếc quần short kaki giá chỉ 115k,nhanh tay
                            thì
                            còn chậm tay là hết cả nhà ơi</p>
                    </li>
                </ul>
            </div>
            <div class="flex flex-col h-[10%] mx-5 py-2 gap-2">
                <p class="text-white">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i> FeyD153 đã tham gia
                </p>
                <div class="flex flex-row items-center gap-3">
                    <input id="comment-box" type="text"
                        class="px-3 py-3 w-full pl-4 bg-[#444444] rounded-xl transition-all  outline outline-2 outline-transparent focus:outline-white scrollbar-none text-white placeholder:text-gray-400 resize-none"
                        placeholder="Hãy nói gì đó">
                    <div class="flex content-center text-xl text-white size-5">
                        <i class="fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- End live chatroom -->
    </div>
    <!-- End content -->
</body>

</html>